<div class="container">
    <div class="nav-bar">
      <div class="content">
        <div class="logo">
          <img src="../assets/logo.png">
        </div>
        <div class="links hidden-phone">
          <div class="link"><a href="#games">Games</a></div>
          <div class="link"><a href="#consulting">Consulting</a></div>
          <div class="link"><a href="#gamification">Gamification</a></div>
          <div class="link"><a href="#arvr">AR/VR Solutions</a></div>
          <div class="link"><a href="#career">Career Opportunities</a></div>
          <div class="link"><a href="#contactus">Contact Us</a></div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="content">
        <div class="header-text">
          <h1 class="text">Experienced in <span>Creativity</span></h1>
        </div>
      </div>
    </div>
    <div class="background-pattern hidden-phone">
      <svg id="b5b0d75e-8da5-4527-bfa5-39fcdedcc69e" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 319.92"><path d="M1920,303.05c-223.8-223.8-528.37-102.26-782.88-102.26C814.5,200.79,757.59,0,405.73,0,242.35,0,61,137.3,0,288v31.92H1920Z" fill="#e9f0f8" style="
        /* transform: rotateY(180deg); */
        /* top: -500px; */
    "></path></svg>
    <svg id="b5b0d75e-8da5-4527-bfa5-39fcdedcc69e"     
    style="transform: rotateZ(180deg);top: -10px;" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 319.92"><path d="M1920,303.05c-223.8-223.8-528.37-102.26-782.88-102.26C814.5,200.79,757.59,0,405.73,0,242.35,0,61,137.3,0,288v31.92H1920Z" fill="#e9f0f8" ></path></svg>
    </div>
    <div class="content">
      <section id="games" class="hyper-casual">
        <div class="content-text full-width-phone">
          <h3 class="genre">Hyper casual</h3>
          <h2>We make top-notch games</h2>
          <p>Developing games of quality with loads of fun. Feel free to check our highly addictive and hyper-casual games in our portfolio. 
            </p>
          <a href="https://apps.apple.com/tr/app/hook-to-fruits/id1495193407#see-all/developer-other-apps" target="_blank">
            <button>See our games</button>
          </a>
        </div>
        <div class="content-image full-width-phone">
          <img class="slot-1" title="Capture The Prison" src="../assets/images/capture-prison.png" />
          <img class="slot-2" title="Combo Master 3D" src="../assets/images/combo-master.png" />
          <img class="slot-3" title="Flag Capture 3D" src="../assets/images/flag-capture.png" />
          <img class="slot-4" title="Hide&Heist" src="../assets/images/hide-heist.png" />
          <img class="slot-5" title="Hook The Fruits" src="../assets/images/hook-fruits.png" />
          <img class="slot-6" title="Key Cutting 3D" src="../assets/images/key-cutting.png" />
          <img class="slot-7" title="Perfect Fix" src="../assets/images/perfect-fix.png" />
          <img class="slot-8" title="Pigmanout" src="../assets/images/pigmanout.png" />
          <img class="slot-9" title="Ragdoll Crash" src="../assets/images/ragdoll-crush.png" />
          <img class="slot-10" title="Zombie Drift" src="../assets/images/zombie-drift.png" />
          <img class="slot-11" title="Ceramic Painter 3D" src="../assets/images/ceramic-painter.png" />
          <img class="slot-12" title="Tennis Smash 3D" src="../assets/images/tennis-smash.png" />
          <img class="slot-13" title="Target Hunter" src="../assets/images/target-hunter.png" />
          <img class="slot-14" title="Strike It 3D" src="../assets/images/strikeit.png" />
          <img class="slot-15" title="Slasher 3D" src="../assets/images/slasher.png" />
          <img class="slot-16" title="Strech Brush" src="../assets/images/strech-brush.png" />
          <img class="slot-17" title="Candy Shop" src="../assets/images/candy-shop.png" />
          <img class="slot-18" title="Cappucino Art 3D" src="../assets/images/cappucino.png" />
  
        </div>
      </section>
      <section id="consulting" class="outsourcing">
        <div class="content-image hidden-phone">
          <img class="outsourcing-image" src="../assets/hov.jpg">
          <img class="phone" src="../assets/iphone-horizontal.png" />
        </div>
        <div class="content-text full-width-phone">
          <h3 class="genre">OUTSOURCING & CONSULTING</h3>
          <h2>Collobrations Leading to Success</h2>
          <p>We initiate sustainable and profitable partnerships around the globe via experience built upon versatile projects. We offer consultancy services for tech companies, passing on know-how and expertise.</p>
          <div class="metrics block-phone">
            <div class="metric full-width-phone">
              <div class="icon"><mat-icon>folder</mat-icon></div>
              <div class="kpi">36 Projects</div>
            </div>
            <div class="metric full-width-phone">
              <div class="icon"><mat-icon>location_city</mat-icon></div>
              <div class="kpi">14 Clients</div>
            </div>
            <div class="metric full-width-phone">
              <div class="icon"><mat-icon>attach_money</mat-icon></div>
              <div class="kpi">$8.5m Generated from projects</div>
            </div>
          </div>
        </div>
      </section>
      <section id="gamification" class="serious-games">
        <div class="content-text full-width-phone">
          <h3 class="genre">GAMIFICATION</h3>
          <h2>Gamification Support and Consultancy</h2>
          <p>We apply gaming philosophy to digital business World. Witness increase in efficiency as well as working satisfaction while turning everything into a game.</p>
        </div>
        <div class="content-image full-width-phone">
          <img src="../assets/gamification.jpg" />
        </div>
      </section>
      <section id="arvr" class="vr-ar">
        <div class="content-image hidden-phone">
          <img src="../assets/arvr.png" />
        </div>
        <div class="content-text full-width-phone">
          <h3 class="genre">AR / VR</h3>
          <h2>AR/VR in business</h2>
          <p>We develop AR/VR projects with cutting-edge technology, simulated experience of multi-projected enviroments with a touch of reality and creativity.</p>
        </div>
      </section>
      <section id="career" class="career">
        <div class="content-text full-width-phone">
          <h3 class="genre">Career</h3>
          <h2>Come and join us</h2>
          <p>Feel free to check out our portfolio and collabrations, demonstrating expertise in various fields. 
            Round and complete, turn-key projects.</p>
        </div>
        <div class="content-image full-width-phone">
          <a href="mailto: contact@dreamharvesters.com?subject=Job Interview: Unity Development">
            <div class="position-card">
              <h5 class="title">Unity Developer</h5>
              <p class="description">Math or physics, algorithm skills.</p>
            </div>
          </a>
          <a href="mailto: contact@dreamharvesters.com?subject=Job Interview: Full Stack Web Development">
            <div class="position-card">
              <h5 class="title">Backend Web Developer</h5>
              <p class="description">NodeJS, NestJS, MongoDB</p>
            </div>
          </a>
          <a href="mailto: contact@dreamharvesters.com?subject=Job Interview: Full Stack Web Development">
            <div class="position-card">
              <h5 class="title">Frontend Web Developer</h5>
              <p class="description">NodeJS, Angular8+, SCSS</p>
            </div>
          </a>
        </div>
      </section>
    </div>
    <div id="contactus" class="footer">
      <div class="mail"><a href="mailto:'contact@dreamharvesters.com'">contact@dreamharvesters.com</a></div>
      <div class="copy-right">Copyright © 2019 Dreamharvesters</div>
    </div>
  </div>