/* You can add global styles to this file, and also import other style files */
*:not(mat-icon){
    box-sizing: border-box;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
body{
    margin: 0px;
}

a{
    color: rgb(52,52,52);
    text-decoration: none;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 2em;
}
p{
    line-height: 2em;
}

.genre{
    color: rgba(52,52,52,.3)
}
button:focus {outline:0;}

@media only screen and (max-width: 720px) {
    .hidden-phone{
        display: none !important;
    }
    .full-width-phone{
        width: 100% !important;
    }
    .block-phone{
        display: block !important;
    }
    section{
        display: block !important;
    }

    .hyper-casual{
        .content-image{
            height: 500px !important;
            width: 200vw !important;
            transform: translateX(-100px);
            &:after{
                background: linear-gradient(180deg, rgba(255,255,255,0) 51%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%) !important;
            }
        }
    }
}


.static-content{
    padding: 60px;
    white-space: pre-line;
    line-height: 1.5rem;
}